node-red/fingerprint_data.json
[{"id":"97310013.26593","type":"tab","label":"wifi analyzer","disabled":false,"info":""},{"id":"559f88c1.f30e18","type":"inject","z":"97310013.26593","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2-1","payloadType":"str","x":90,"y":100,"wires":[["b745bf90.27829"]]},{"id":"86401f62.44c77","type":"wifiscan","z":"97310013.26593","name":"","x":250,"y":60,"wires":[["40dcaf09.2ae5a"]]},{"id":"42a93323.aaf15c","type":"debug","z":"97310013.26593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"40dcaf09.2ae5a","type":"function","z":"97310013.26593","name":"extract all ssid","func":"// var all_macs = [];\nvar xy = flow.get(\"xy\");\nvar all_ssid = [];\nfor (var i = 0; i<msg.payload.length; i++){\n    // all_macs.push(msg.payload[i].mac)\n    all_ssid.push(msg.payload[i])\n    all_ssid[i].xy = xy\n}\n\nflow.set(\"all_ssid\", all_ssid)\nmsg.all_ssid = all_ssid\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["42a93323.aaf15c","4c92249e.82e10c"]]},{"id":"4c92249e.82e10c","type":"function","z":"97310013.26593","name":"select ssids","func":"var all_ssid = flow.get(\"all_ssid\");\n\nvar working_ssid = []\nvar other_ssid = []\nvar target_ssid = [\"unitn-x\", \"eduroam\"] //add your ssid\nfor (var i = 0; i< all_ssid.length; i++){\n    if (target_ssid.includes(all_ssid[i].ssid)){\n        working_ssid.push(all_ssid[i]) \n    } else {\n        other_ssid.push(all_ssid[i])\n    }\n}\n\nmsg = {payload:working_ssid, topic: \"working_ssid\"}\n// msg.working_ssid = working_ssid\nmsg.all_count = all_ssid.length\nmsg.working_count = working_ssid.length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":220,"wires":[["f4d479f1.411428","4a707340.578dcc"]]},{"id":"f4d479f1.411428","type":"debug","z":"97310013.26593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"21749f33.43c7e","type":"debug","z":"97310013.26593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"4a707340.578dcc","type":"json-2-csv","z":"97310013.26593","name":"","x":580,"y":320,"wires":[["82c6d1d4.0149c","a510ede5.33221"]]},{"id":"82c6d1d4.0149c","type":"function","z":"97310013.26593","name":"remove headers","func":"var entire_msg = msg.payload.split(\"\\n\");\nvar filtered = []\nvar headers = entire_msg[0];\nfor (var i = 1; i<entire_msg.length; i++){\n    filtered.push(entire_msg[i]+\"\\n\")\n}\nfiltered = filtered.join(\"\");\nmsg.payload = filtered\nmsg.topic = headers\n// msg.ent = entire_msg\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":260,"wires":[["21749f33.43c7e","d5ba0e3a.43d74"]]},{"id":"d5ba0e3a.43d74","type":"file","z":"97310013.26593","name":"","filename":"wifif.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"setbymsg","x":970,"y":260,"wires":[[]]},{"id":"a510ede5.33221","type":"debug","z":"97310013.26593","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"b745bf90.27829","type":"function","z":"97310013.26593","name":"","func":"flow.set(\"xy\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":220,"wires":[["86401f62.44c77"]]}]