node-red/IOT_final_project_flow.json
[{"id":"c27e15c.0eec6e8","type":"tab","label":"IOT_final_project","disabled":false,"info":""},{"id":"e7ddf547.17de58","type":"mqtt in","z":"c27e15c.0eec6e8","name":"","topic":"positions","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":180,"y":140,"wires":[["aebf8af2.351098"]]},{"id":"aebf8af2.351098","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":140,"wires":[]},{"id":"51059998.501c08","type":"mqtt out","z":"c27e15c.0eec6e8","name":"","topic":"positions","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":540,"y":160,"wires":[]},{"id":"c4d56574.0271c8","type":"inject","z":"c27e15c.0eec6e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":240,"wires":[["fe48f62e.668678"]]},{"id":"fe48f62e.668678","type":"function","z":"c27e15c.0eec6e8","name":"","func":"function randn_bm() {\n    var u = 0, v = 0;\n    while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)\n    while(v === 0) v = Math.random();\n    return Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );\n}\nvar plusOrMinus = Math.random() < 0.5 ? -1 : 1;\nvar x = plusOrMinus * Math.random()/3 + 1;\nvar y = plusOrMinus * Math.random()/3 + 2;\nvar z = plusOrMinus * randn_bm()/3 + 3;\n\nvar lis = [[x, y], [(x+y)/2, z], [4,1], [4,4]]; //, [(x+y)/2, z], [4,1], [4,4]\n\n//it should be 1, 2, 3\nmsg = {payload: lis, topic: \"list of xyz\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["e2e94576.93b718","51059998.501c08"]]},{"id":"e2e94576.93b718","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"d444cbe5.d1d078","type":"aedes broker","z":"c27e15c.0eec6e8","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":170,"y":60,"wires":[[]]},{"id":"3e2ee8ef.dd3858","type":"mqtt in","z":"c27e15c.0eec6e8","name":"","topic":"LDV time","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":720,"y":80,"wires":[["ca4dd86c.06ecf8"]]},{"id":"9324c032.3e69f","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":80,"wires":[]},{"id":"c556b2a2.7f2e7","type":"ui_text","z":"c27e15c.0eec6e8","group":"e6ff2176.5f335","order":4,"width":0,"height":0,"name":"","label":"Distance violation time","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":140,"wires":[]},{"id":"ca4dd86c.06ecf8","type":"function","z":"c27e15c.0eec6e8","name":"","func":"var d = new Date(0); // The 0 there is the key, which sets the date to the epoch\nd.setUTCSeconds(parseFloat(msg.payload));\nmsg.payload = d\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":140,"wires":[["c556b2a2.7f2e7","9324c032.3e69f"]]},{"id":"4b1efd09.b72404","type":"mqtt in","z":"c27e15c.0eec6e8","name":"","topic":"min_distance","qos":"0","datatype":"auto","broker":"d24840df.e3ff4","nl":false,"rap":false,"x":730,"y":280,"wires":[["6198953f.387acc"]]},{"id":"32c38f94.9ee84","type":"ui_gauge","z":"c27e15c.0eec6e8","name":"","group":"e6ff2176.5f335","order":4,"width":0,"height":0,"gtype":"donut","title":"Min Distance","label":"Meters","format":"{{value}}","min":0,"max":"1","colors":["#b30000","#e6e600","#00b500"],"seg1":"","seg2":"","x":1090,"y":320,"wires":[]},{"id":"6198953f.387acc","type":"function","z":"c27e15c.0eec6e8","name":"","func":"distance = parseFloat(msg.payload)\nmsg.payload = distance.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":280,"wires":[["32c38f94.9ee84","d4185666.7de598"]]},{"id":"d4185666.7de598","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":220,"wires":[]},{"id":"8f61a29b.5ca68","type":"inject","z":"c27e15c.0eec6e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"room1","payloadType":"str","x":80,"y":420,"wires":[["d0e59161.e861b"]]},{"id":"cd57422e.466cd","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"3a2a68f0.ff2868","type":"function","z":"c27e15c.0eec6e8","name":"extract all ssid","func":"// var all_macs = [];\nvar xy = flow.get(\"xy\");\nvar all_ssid = [];\nfor (var i = 0; i<msg.payload.length; i++){\n    // all_macs.push(msg.payload[i].mac)\n    all_ssid.push(msg.payload[i])\n    all_ssid[i].xy = xy\n}\n\nflow.set(\"all_ssid\", all_ssid)\nmsg.all_ssid = all_ssid\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["cd57422e.466cd","bcb08c97.df0b6"]]},{"id":"bcb08c97.df0b6","type":"function","z":"c27e15c.0eec6e8","name":"select ssids","func":"var all_ssid = flow.get(\"all_ssid\");\n\nvar working_ssid = []\nvar other_ssid = []\n// var target_ssid = [\"Xperia xzp\", \"Xperia mini\", \"VIVO HOTSPOT\"] //add your ssid \"unitn-x\", \"eduroam\"\n// var target_ssid = [\"VM6282415\", \"SKY65394\", \"Xperia xzp\"] //add your ssid \"unitn-x\", \"eduroam\"\nvar target_ssid = [\"White castle 2.4Ghz\", \"White castle 5Ghz\", \"Xperia xzp\"] //add your ssid \"unitn-x\", \"eduroam\"\n\nfor (var i = 0; i< all_ssid.length; i++){\n    if (target_ssid.includes(all_ssid[i].ssid)){\n        working_ssid.push(all_ssid[i]) \n    } else {\n        other_ssid.push(all_ssid[i])\n    }\n}\n\nmsg = {payload:working_ssid, topic: \"working_ssid\"}\n// msg.working_ssid = working_ssid\nmsg.all_count = all_ssid.length\nmsg.working_count = working_ssid.length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":520,"wires":[["3c14c375.e0b41c","1dd9ab23.05a1a5"]]},{"id":"3c14c375.e0b41c","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":480,"wires":[]},{"id":"d0e59161.e861b","type":"wifiscan","z":"c27e15c.0eec6e8","name":"","x":270,"y":360,"wires":[["3a2a68f0.ff2868"]]},{"id":"1dd9ab23.05a1a5","type":"function","z":"c27e15c.0eec6e8","name":"mac_rssi","func":"// for (var i = 0; i<msg.payload.length; i++){\n// }\nvar test = msg.payload\nvar rssi = test.map((test)=> [test.mac.toLowerCase(), parseFloat(test[\"signal_level\"])]);\nvar mac_rssi = {payload: rssi, topic:\"mac and rssi\"}\nreturn mac_rssi;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":560,"wires":[["4c77c103.4ac3f","9bac6394.68968"]]},{"id":"4c77c103.4ac3f","type":"debug","z":"c27e15c.0eec6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"9bac6394.68968","type":"mqtt out","z":"c27e15c.0eec6e8","name":"","topic":"rssi_mac","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d24840df.e3ff4","x":980,"y":600,"wires":[]},{"id":"d24840df.e3ff4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6ff2176.5f335","type":"ui_group","name":"LDVtime","tab":"30c1e48e.fa1e3c","order":1,"disp":true,"width":"6","collapse":true},{"id":"30c1e48e.fa1e3c","type":"ui_tab","name":"FinalProject","icon":"dashboard","disabled":false,"hidden":false}]